<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Who are you?</h1>
    <input type="submit" value="Listener" onclick="window.location='/home/listener';"/>
    <br/><br/>
    <input type="submit" value="Musician" onclick="window.location='/home/musician';"/>

  </body>
</html>
