<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Who are you?</h1>
    <% if session[:performer_id] %>
    <h2 style="color:yellow;">Welcome, userid: <%= Performer.find(session[:performer_id])[:email] %> </h2>
    <% end %>
    <input type="submit" value="Listener" onclick="window.location='/home/listener';"/>
    <br/><br/>
    <input type="submit" value="Musician" onclick="window.location='/home/musician';"/>
    <br/>
    <%= link_to "logout", "log_out" %>
  </body>
</html>
