<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/site.css"/>
  </head>
  <body>
    <h1>Who are you?</h1>
    <input type="submit" value="Listener" onclick="window.location='/home/listener';"/>
    <br/>
    <input type="submit" value="Musician" onclick="window.location='/home/musician';"/>

  </body>
</html>
