<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="bg">
    <h1>Listener Menu</h1>

<!--         <input type="submit" value="Maps" onclick="window.location='/performers';"/>
    <br/> -->
        <input method="post" type="submit" value="Lookup" onclick="window.location='/performers/search';"/>
    <br/> </br>
        <input type="submit" value="View" onclick="window.location='/performers';"/>


  </body>
</html>
