<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Musician Menu</h1>
<!--     <form action="post.html" method="get">
        <input type="submit" value="Post" name="post" id="post"/>
    </form> -->
    <br/>
    <form action="/performers/edit" method="get">
        <input type="submit" value="Profile" onclick="window.location='/performers/edit';"/>
    </form>

    <form action="/sessions/new" method="get">
        <input type="submit" value="Log In" onclick="window.location='/sessions/new';"/>
    </form>

    <form action="/performers/new" method="get">
        <input type="submit" value="Register" onclick="window.location='/performers/new';"/>
    </form>

  </body>
</html>
