<!doctype html>
<head>
  <meta charset="utf-8">
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/application.js"></script>
  <title></title>
</head>
<body>
  <div><%= yield %></div>
</body>
</html>
