<!-- finding performers! -->


<script>
  $(document).ready ( lookupPerformers );

</script>


<!-- <br />
<a href="lookup">are you a performer? signup now</a> -->


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100%; width: 70%; float: right;}
      #left {float: left; height: 100%; width: 30%;}
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsZcIOcxv6LMjgknDGOev1tSu-G3x4v5E"></script>
    <script type="text/javascript" src=""></script>
    <%= javascript_include_tag :maps %>



    <script>



    var map;
    var marker;
    window.lat = 42.3581;
    window.lon = -71.0636;

    navigator.geolocation.getCurrentPosition(
      function(p) {
        window.lat = p.coords.latitude;
        window.lon = p.coords.longitude;
        // console.log(lat,lon);
      },
      function(e) {
      }
    );

    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(window.lat, window.lon),
        zoom: 14
      };
      window.map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      var myLatlng = new google.maps.LatLng(window.lat, window.lon);
      var mapOptions = {
        zoom: 4,
        center: myLatlng
      }

      // To add the marker to the map, use the 'map' property
      marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title:"Your position",
          icon: "/user.png"
      });
    }
    google.maps.event.addDomListener (window, 'load', initialize);

    function moveMarker( smap, smarker, lat, lon ) {
      smarker.setPosition( new google.maps.LatLng( lat, lon ) );
      smap.panTo( new google.maps.LatLng( lat, lon ) );
    };

    var inc = 0;
    function updatePerformers() {
      // should be doing this for all performers?
      navigator.geolocation.getCurrentPosition(
        function(p) {
          window.lat = p.coords.latitude;
          window.lon = p.coords.longitude;
          // console.log(lat,lon);
        },
        function(e) {
        }
      );
      console.log(window.lat,window.lon);
      moveMarker(map, marker, window.lat, window.lon);
    };

    function lookupPerformers() {
      navigator.geolocation.getCurrentPosition( function(p) {
        $.post( "/performers/lookup",
                { 'position': p.coords.latitude+','+p.coords.longitude }, function( data ) {
                console.log( 'receiving response!: ', data);
                } );
        // console.log(p.coords.latitude, p.coords.longitude)
      },
      function(e) {
      });
    };


    setInterval(function() {
      lookupPerformers();
      updatePerformers();
    }, 5000);





    </script>



  </head>
  <body style="background-color:gray">
    <!-- <div id="bg"> -->
    <div id="left">
      <h1>Map</h1>
      <h2>This will list all the nearby performers.</h2>

      <div style="background-color:white; border-style:solid; border-width:1px; border-color:black; text-align:left;">
        <form>
          <p>Search for Performers: <input type="text"/></p>
          <p>(Now only works by name)</p>


        </form>
      </div>

      <div id="firstentry" class="entry">
        <p>Name: Bruno Mars</p>
        <hr>
        <p>Styles:</p>
        <hr>
        <p>Distance:</p>
      </div>

      <div class="entry">
        <p>Name:</p>
        <hr>
        <p>Styles:</p>
        <hr>
        <p>Distance:</p>
      </div>

      <div class="entry">
        <p>Name:</p>
        <hr>
        <p>Styles:</p>
        <hr>
        <p>Distance:</p>
      </div>

      <div class="entry">
        <p>Name:</p>
        <hr>
        <p>Styles:</p>
        <hr>
        <p>Distance:</p>
      </div>

      <div class="entry">
        <p>Name:</p>
        <hr>
        <p>Styles:</p>
        <hr>
        <p>Distance:</p>
      </div>
    </div>
    <div id="map-canvas"/>

  </body>
</html>

