<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div id="bg">
    <h1>Placeholder for paypal</h1>
    <h2>Also personal site</h2>
    <h2>email: <%= @performer.email %></h2>

     <form style="display: block;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
       <input type="hidden" name="cmd" value="_xclick">
       <input type="hidden" name="business" value="<%= @performer.email %>">
       <input type="hidden" name="item_name" value="BattleHack Bet">
       <input type="hidden" name="paymentaction" value="authorization">
       <input type="hidden" name="no_note" value="1">
       <input type="hidden" name="currency_code" value="USD">
       <select name="amount">
         <option value="1">1 $</option>
         <option value="3">3 $</option>
         <option value="5">5 $</option>
         <option value="10">10 $</option>
         <option value="20">20 $</option>
         <option value="30">30 $</option>
         <option value="50">50 $</option>
       </select><br/>
       <input type="submit" value="Send money" />
     </form>
  </body>
</html>
